@model List<ShoppingApp.Models.OrderDetail>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "查看訂單明細";
}

<h1>訂單明細</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                產品名稱
            </th>
            <th>
                產品單價
            </th>
            <th>
                購買數量
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int TotalAmount = 0;
        }
        @foreach (var OrderItem in Model)
        {
            TotalAmount += OrderItem.Price * OrderItem.Quantity;

            <tr>
                <td>
                    @OrderItem.Name
                </td>
                <td>
                    @OrderItem.Price
                </td>
                <td>
                    @OrderItem.Quantity
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                訂單總金額 : @TotalAmount
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<div>
    @*返回之前的分頁並刷新(刷新的目的是避免表單資料消失)*@
    @{
        int? TryGetPage = HttpContextAccessor.HttpContext.Session.GetInt32("returnPage");
        int page = TryGetPage != null ? (int)TryGetPage : 1;
    }
    @Html.ActionLink("返回列表", "Index", "OrderForm", new { page = @page })
</div>