@model List<ShoppingApp.Models.OrderDetail>

@{
    ViewData["Title"] = "查看訂單明細";
}

<h1>訂單明細</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                產品名稱
            </th>
            <th>
                產品單價
            </th>
            <th>
                購買數量
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int TotalAmount = 0;
        }
        @foreach (var OrderItem in Model)
        {
            TotalAmount += OrderItem.Price * OrderItem.Quantity;

            <tr>
                <td>
                    @OrderItem.Name
                </td>
                <td>
                    @OrderItem.Price
                </td>
                <td>
                    @OrderItem.Quantity
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                訂單總金額 : @TotalAmount
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index">返回列表</a>
</div>