debug/
release/
.vs/
obj/
bin/
ShoppingApp/Properties/PublishProfiles/FolderProfile.pubxml.user
OpayApi/Properties/PublishProfiles/FolderProfile.pubxml.user
OpayApi/App_Data/_allpay/2020092709.log
OpayApi/App_Data/_allpay/2020092708.log
OpayApi/App_Data/_allpay/2020101820.log
