@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="email" asp-page="./Email" style="background-color:white;">設定郵件</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./ChangePassword" style="background-color:white;">設定密碼</a></li>
</ul>