@{
    ViewData["Title"] = "匯出資料表";
}

<h4>請點選要匯出的資料表</h4>

<a asp-action="ExportProduct">Product</a>&nbsp;&nbsp;&nbsp;
<a asp-action="ExportUser">User</a>&nbsp;&nbsp;&nbsp;
<a asp-action="ExportOrderForm">OrderForm</a>&nbsp;&nbsp;&nbsp;
<a asp-action="ExportComment">Comment</a>&nbsp;&nbsp;&nbsp;
<a asp-action="ExportProduct2">SellerProduct</a>&nbsp;&nbsp;&nbsp;
<a asp-action="ExportAuthorizedMember">AuthorizedMember</a>&nbsp;&nbsp;&nbsp;
<a asp-action="ExportAll">All</a>
